@model cidade_alta_criminal_code.Models.CriminalCode

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CriminalCode</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penalty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penalty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrisionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrisionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
