@model cidade_alta_criminal_code.Data.Dtos.CriminalCodeDto.ReadCriminalCodeDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CriminalCode</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.CriminalCode.Name
        </dd>
        <dt class = "col-sm-2">
            Descrição
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.CriminalCode.Description
        </dd>
        <dt class = "col-sm-2">
            Penalidade
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.CriminalCode.Penalty
        </dd>
        <dt class = "col-sm-2">
            Tempo de Prisão
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.CriminalCode.PrisionTime
        </dd>
        <dt class = "col-sm-2">
            Data de Criação
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.CriminalCode.CreatedDate
        </dd>
        <dt class = "col-sm-2">
            Data de Atualização
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.CriminalCode.UpdatedDate
        </dd>
        <dt class = "col-sm-2">
            Quem criou
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.CriminalCode.CreateUser.UserName
        </dd>
        <dt class = "col-sm-2">
            Quem atualizou
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.CriminalCode.UpdateUser.UserName
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@ViewBag.CriminalCode.Id">Atualizar</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
