@{
    ViewData["Title"] = "Códigos Penais";
}

@if (ViewBag.Message == "delsuccess")
{
    <span class="text-success">Código Penal removido com sucesso</span>
}
else if (ViewBag.Message == "delfail")
{
    <span class="text-danger">Falha ao tentar cadastrar novo código penal</span>
}

<h1>Códigos Penais</h1>

<p>
    <a asp-action="Create">Criar novo código penal</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="col-2">
                Nome
            </th>
            <th class="col-6">
                Descrição
            </th>
            <th>
                Penalidade
            </th>
            <th>
                Tempo de Prisão
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.CriminalCodes) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                R$ @item.Penalty.ToString().Replace(',','.')
            </td>
            <td>
                @item.PrisionTime
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="me-2">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="me-2">
                    <i class="fa-solid fa-circle-info"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
<script>

var dataTableLanguage = {
  sEmptyTable: "Nenhum registro encontrado",
  sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
  sInfoEmpty: "Mostrando 0 até 0 de 0 registros",
  sInfoFiltered: "(Filtrados de _MAX_ registros)",
  sInfoPostFix: "",
  sInfoThousands: ".",
  sLengthMenu: "_MENU_ resultados por página",
  sLoadingRecords: "Carregando...",
  sProcessing: "Processando...",
  sZeroRecords: "Nenhum registro encontrado",
  sSearch: "Pesquisar",
  oPaginate: {
    sNext: "Próximo",
    sPrevious: "Anterior",
    sFirst: "Primeiro",
    sLast: "Último",
  },
  oAria: {
    sSortAscending: ": Ordenar colunas de forma ascendente",
    sSortDescending: ": Ordenar colunas de forma descendente",
  },
};

$('table').DataTable({"language": dataTableLanguage});



</script>
}

